# ChromaDB Configuration
CHROMA_API_KEY=
CHROMA_TENANT=
CHROMA_DATABASE=

# LLM API Keys
OPENAI_API_KEY=your_openai_api_key_here

# Postgres
PG_CONN_STRING=postgresql://postgres:yoursecretpassword@localhost:5432/zero_shot
DB_NAME=zero_shot