# ChromaDB Configuration
CHROMA_API_KEY=
CHROMA_TENANT=
CHROMA_DATABASE=

# LLM API Keys
OPENAI_API_KEY=your_openai_api_key_here

# LangChain Configuration (optional)
LANGCHAIN_API_KEY=your_langsmith_api_key_here
LANGCHAIN_TRACING_V2=true
LANGCHAIN_PROJECT=rag-system

# Postgres
PG_CONN_STRING=postgresql://postgres:yoursecretpassword@localhost:5432/zero_shot
DB_NAME=zero_shot